$purple-color: #806ad9;
$purple-back: #7e64eb;
$gray-color: #eeebfb;
$dark-gray-color: #7f7f80;
$white-color: #fff;
$textarea-color: #c5bbef;
$Montserrat: Montserrat, Bold Italic;
$medium-size: 20px;



.container {
  background-color: $purple-back;
  display: table;

  .logo {
    color: $white-color;
    font-family: $Montserrat;
    font-size: $medium-size;
    margin-top: 54px;
    margin-bottom: 54px;
    text-transform: uppercase;
    text-align: center;
  }

  .color-purple {
    color: #9f8deb;
    text-align: center;
  }

  .start--section {
    background-color: $white-color;
    width: 500px;
    height: 802px;
    float: left;
    margin-left: 152px;
    padding: 0 20px 0 20px;
    text-align: center;
  }

  .title {
    text-align: center;
    color: $purple-color;
    font-family: $Montserrat;
    font-size: 34px;
    margin-top: 147px;
  }

  .input--username {
    width: 414.15px;
    background-color: $gray-color;
    font-size: 13px;
    padding: 20px;
    margin-top: 61px;
    margin: 0 auto;
    display: block;
    margin-bottom: 18px;
    margin-top: 61px;
  }

  .input--password {
    width: 414.15px;
    background-color: $gray-color;
    font-size: 13px;
    padding: 20px;
    margin-bottom: 134px;
    margin: 0 auto;
    display: block;
    margin-bottom: 139px;
  }

  .btn-purple {
    padding: 19px 44px;
    width: 234px;
    height: 57px;
    cursor: pointer;
  }

  .btn-style {
    text-decoration: uppercase;
    font-size: 16px;
  }

  .reset--password {
    font-size: 13px;
    color: $dark-gray-color;
    font-family: $Montserrat;
    margin: 0;
  }

  hr {
    width: 230px;
  }

  .start--registration {
    background-color: $gray-color;
    width: 500px;
    height: 802px;
    margin-right: 152px;
    margin-bottom: 141px;
    margin-left: 0px;
    float: right;
    text-align: center;
  }

  .text-purple {
    font-size: 16px;
    color: $purple-color;
    margin-top: 62px;
  }

  .btn-register {
    margin-top: 240px;
    cursor: pointer;
    color: $white-color;
  }
  .alert {
    font-size: 13px;
    color: #fff;
    font-family: Montserrat, Bold Italic;
    background-color: #bb61ff;
  }

  .alert-danger {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    width: 297px;
    margin: 0 auto;
  }

  
}
