$purple-color: #806ad9;
$light-purple-color: #9f8deb;
$rainbow-color: #bb61ff;
$purple-back: #7e64eb;
$gray-color: #eeebfb;
$dark-gray-color: #7f7f80;
$white-color: #fff;
$textarea-color: #c5bbef;
$Montserrat: Montserrat, Bold Italic;
$medium-size: 20px;

.external--container {
  background-color: $purple-back;
  background-size: cover;
  margin: 0;
  padding-bottom: 137px;

  .main--section {
    background-color: $white-color;
    margin: 0px 100px 0px 100px;
    height: 768px;
  }

  .position-center {
    text-align: center;
  }

  .logo {
    color: $white-color;
    font-family: $Montserrat;
    font-size: $medium-size;
    text-transform: uppercase;
    padding: 54px 0 54px;
    text-align: center;
  }

  .color-purple {
    color: $light-purple-color;
    text-transform: uppercase;
  }

  .title {
    text-align: center;
    color: $purple-color;
    font-family: $Montserrat;
    font-size: 34px;
    padding-top: 100px;
  }

  .text {
    width: 710px;
    font-size: 16px;
    color: $purple-color;
    margin: 0 auto;
    padding-top: 30px;
  }

  .input--email {
    width: 414.15px;
    background-color: $gray-color;
    font-size: 13px;
    padding: 20px;
    margin: 0 auto;
    display: block;
    margin-top: 59px;
    margin-bottom: 61px;
    border: none;
  }

  .btn-register {
    margin-top: 62px;
    color: $white-color;
    height: 50px;
  }

  .steps {
    font-size: 19px;
    color: $light-purple-color;
    margin-bottom: 50px;
    text-align: center;
  }

  .btn-professional {
    width: 350px;
    height: 57px;
    border: 0;
    background-color: $purple-color;
    margin-right: 30px;
    margin-top: 79px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
  }

  .icon-check {
    margin-left: 237px;
    display: inline-block;
    position: relative;
    top: -20px;
  }

  .btn-users {
    background-color: $light-purple-color;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 30px;
    width: 275px;
    height: 60px;
    border-radius: 4px;
    margin-top: 70px;

    p {
      padding: 5% 1em 0;
      font-size: 19px;
      color: $white-color;
      font-family: $Montserrat;
    }
  }

  .btn-users-selected {
    background-color: $purple-color;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 30px;
    width: 275px;
    height: 60px;
    border-radius: 4px;
    text-align: left;
    font-size: 19px;
    margin-top: 70px;

    p {
      padding: 5% 1em 0;
      font-size: 19px;
      color: $white-color;
      font-family: $Montserrat;
    }

    .selected-button {
      background-color: $purple-color;
    }
  }

  .next--step {
    font-size: 14px;
    color: $light-purple-color;
    position: absolute;
    right: 148px;
    bottom: -217px;
  }

  .back--step {
    font-size: 14px;
    color: $light-purple-color;
    position: absolute;
    left: 148px;
    bottom: -217px;
  }

  .input--group {
    padding: 109px;
    margin-top: -108px;
  }

  .fill--input {
    width: 414.15px;
    background-color: #eeebfb;
    font-size: 13px;
    padding: 20px;
    margin-bottom: 10px;
  }

  .input-left {
    display: block;
  }

  .input-right {
    float: right;
    margin-top: -71px;
  }

  .file--input {
    border-style: dashed;
    width: 446.15px;
    height: 56.07px;
    font-size: 13px;
    border-color: #806ad9;
  }

  .spacer {
    margin-top: 30px;
  }

  .situation--description {
    background-color: $gray-color;
    color: $textarea-color;
    width: 551px;
    height: 134px;
    font-size: 13px;
    border: 0;
    padding: 15px;
    margin-top: 15px;
    border-radius: 1px;
    margin-right: 24px;
  }

  .information {
    font-size: 16px;
    color: $purple-color;
    margin-top: 218px;
    margin-bottom: 74px;
  }

  .input-document {
    float: right;
    margin-top: 49px;
    margin-right: 349px;
    border-radius: 1px;

    p {
      font-size: 16px;
      color: $purple-color;
      padding: 20px;
      text-align: center;
    }
  }

  .input-formatting {
    margin-left: 272px;
  }

  .text-formatting {
    margin-left: 5px;
    margin-top: 20px;
  }

  .input-icon-formatting {
    margin-left: 13px;
  }
}
